# Configurações do Banco de Dados
# O desenvolvedor deve alterar USER e PASSWORD conforme sua máquina local
DATABASE_URL=mysql+pymysql://user:password@db:3306/app_db

# Segurança
SECRET_KEY=troque_isso_por_uma_chave_segura_e_aleatoria # É SERIO DEV, TROCA ESSA PORRA AQUI CARA !!!
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30